page-profile {

  .profile-photo {
    border-radius: 50%;
    overflow: hidden;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

  .slogan{
    text-align: center;
    font-size: 20px;
  }

  .job{
    text-align: center;
    font-size: 15px;
  }

  .profile_heading{
    font-size: 20px;
  }

  .divTable{
    display: table;
    width: 100%;
  }
  .divTableRow {
    display: table-row;
  }
  .divTableHeading {
    background-color: #EEE;
    display: table-header-group;
  }
  .divTableCell, .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
  }
  .divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
  }
  .divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
  }
  .divTableBody {
    display: table-row-group;
  }
}
