page-card {

  body {
  }

  ion-card {
    border-top: 8px solid #488aff;
  //  position: relative;
    margin: 10px;
    padding: 10px;

    // height: 100%;
    //display: block;
    //vertical-align: middle;

    // text-align: center;
  }

  ion-card-header {
    font-weight: bold;
    font-size: 2.0em;
  }

  ion-card-content {

  }

  div {
    color: darkslategray;
    font-size: 20px;
  }

  div#name {
    margin-top: 10px;
    font-size: 30px;
    color: black;
  }

  div#adress {

  }

  div#contact {
    margin-top: 15px;

  }

  div#card_logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #logo {
    position: center;


    display:block;
    margin-left:auto;
    margin-right:auto;

  }

}
