page-card {

  body {
  }

  //Karte 1

  ion-card {
    border-top: 8px solid #488aff;
    //  position: relative;
    margin: 10px;
    padding: 10px;

    // height: 100%;
    //display: block;
    //vertical-align: middle;

    // text-align: center;
  }

  ion-card-header {
    font-weight: bold;
    font-size: 2.0em;
  }

  ion-card-content {

  }

  div {
    color: darkslategray;
    font-size: 20px;
  }

  div#name {
    margin-top: 10px;
    font-size: 30px;
    color: black;
  }

  div#adress {

  }

  div#contact {
    margin-top: 15px;

  }

  div#card_logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #logo {
    position: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  //Flip Karte

  /* entire container, keeps perspective */
  .flip-container {
    perspective: 1000px;
  }
  //flip the pane when hovered
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

  .flip-container, .front, .back {
    width: 320px;
    height: 480px;
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.4s;
    transform-style: preserve-3d;

    position: relative;
  }

  /* hide back of pane during swap */
  .front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

  /* front pane, placed above back */
  .front {
    border-top: 8px solid #488aff;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background-color: whitesmoke;
    // background-color: #488aff;
  }

  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg);
    background-color: whitesmoke;
    // border-top: 8px solid #488aff;
  }

  .profile-photo {
    position: center;
  }
}
